::ng-deep .allocation .p-calendar-w-btn .p-inputtext {
    background: #d8d8d85c;
}

.pr-none {
    pointer-events: none;
}

.cr-not {
    cursor: not-allowed;
}

.areaList {
    background: #dc8a53;
    width: fit-content;
    padding: 0px 5px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 5px;
}
