<div class="page-content">
    <div class="row wrap">
        <div class="col-md-4">
            <form [formGroup]="dateForm">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12" style="padding: 0;">
                        <div class="form-group">
                            <div class="custom-label"> Allocation Date<span class='mandate'>*</span></div>
                            <p-calendar [showIcon]="true" formControlName="allocation_date"></p-calendar>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" style="align-self: flex-end;">
                        <button type="button" pButton pRipple type="button" (click)='searchAreaAllocation()'
                            label="Search" class="p-button-success"></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="row wrap">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0;">
                    <div class="form-group">
                        <div class="custom-label"> Executive Name<span class='mandate'>*</span></div>
                        <p-dropdown class="custom-pdropdown" optionLabel="staff_name" optionValue="_id"
                            [formControl]="executive_id" [options]="executive_options"
                            [placeholder]="'Select Executive'">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" style="align-self: flex-end;">
                    <button type="button" pButton pRipple type="button" (click)='addCard()' label="Add"
                        class="p-button-success"></button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row wrap">
        <div *ngFor='let item of tableData;let t=index' class="col-xl-6 col-lg-6 col-md-6 col-sm-2 col-xs-12"
            style="margin-bottom: 20px;">
            <div class="card">
                <div class="card-title">
                    <span>{{executiveObj[item.executive_id]}}</span>
                    <span>Expected Revenue: {{calculateRevenue(item.allocations) | currency:'INR'}}</span>
                    <i (click)='removeCard(t)' class="pi pi-times-circle icons"></i>
                </div>
                <div class="card-body">
                <div class="row wrap" style="padding-bottom: 15px;">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding: 0;">
                        <p-dropdown class="custom-pdropdown" optionLabel="area" optionValue="_id"
                            [(ngModel)]="item.selectedArea" [options]="areaData" [placeholder]="'Select Area'">
                        </p-dropdown>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding: 0;text-align: end;">
                        <button type="button" pButton pRipple type="button" (click)='onAddArea(t, item)' label="Add"
                            class="p-button-success addArea"></button>
                    </div>
                </div>
                <div>
                    <div class="area">
                        <div *ngFor="let allocation of item?.allocations;let a=index" class="chips">
                            <span style="width: 35%;text-overflow: ellipsis;
                            overflow: hidden;">{{areaObj[allocation.area_id]}}</span>
                            <div style="width: 35%">
                                <p-dropdown class="custom-pdropdown" optionLabel="name" optionValue="_id"
                                    [(ngModel)]="allocation.product" [options]="products"
                                    [placeholder]="'Select Product'">
                                </p-dropdown>
                            </div>
                            <div style="width: 20%">
                                <input style='width: 100%;margin: 0px 5px;' autocomplete="off" type="number" id="rate"
                                    pInputText placeholder="Count" [(ngModel)]="allocation.count">
                            </div>
                            <div style="width: 10%;text-align: center;">
                                <i (click)='removeArea(t, a)' class="pi pi-times red-icon icons"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <br />
    </div>
    <div class="dialog-footer">
        <div style="margin-top: 20px;text-align: center;">
            <button type="button" pButton pRipple type="button" (click)='onSubmit()' label="Submit"
                class="p-button-success"></button>
            &nbsp; &nbsp;
            <button pButton pRipple label="Reset" (click)='onReset()' class="p-button-warning"></button>
        </div>
    </div>