::ng-deep .allocation .p-calendar-w-btn .p-inputtext {
    background: #d8d8d85c;
}

.pr-none {
    pointer-events: none;
}

.cr-not {
    cursor: not-allowed;
}

.areaList {
    background: #dc8a53;
    width: fit-content;
    padding: 0px 5px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 5px;
}

.card {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    height: 100%;
    border: 2px solid #f4af7587;
}

.chips {
    margin: 5px 0px;
    padding: 3px;
    border-radius: 6px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.icons {
    cursor: pointer;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #f78d45d9;
    padding: 7px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 5px;
}

.red-icon {
    color: red;
}

::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #03d91f;
    background: #0a9e1d;
}

::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #03d91f;
    background: #0a9e1d;
}

::ng-deep .chips:nth-child(odd) {
    background: #fbe5d663;
}
