<div class="page-content">
    <div class="row wrap">
        <div class="col-md-12">
            <form [formGroup]="inputForm">
                <div class="row ">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="custom-label"> Role <span class='mandate'>*</span></div>
                            <input style='width: 100%;' autocomplete="off" type="text" id="name" pInputText
                                formControlName="role" placeholder="Enter Role">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12"
                        style="margin-top:10px;align-self: flex-end !important;">
                        <button *ngIf="!inputForm.value._id" pButton pRipple type="button" (click)='addRole()'
                            label="Add" class="p-button-success"></button>
                        <button *ngIf="inputForm.value._id" pButton pRipple type="button" (click)='updateRole()'
                            label="Update" class="p-button-success"></button>
                        &nbsp; &nbsp;
                        <button pButton pRipple type="reset" label="Reset" class="p-button-warning"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="table-title">Roles List</div>
        <ngx-table [configuration]="configuration" #table [data]="tableData" class="custom-table" [columns]="columns">
            <ng-template let-row let-index="index">
                <td>
                    <span class="font-small">{{index+1}}</span>
                </td>
                <td>
                    <span class="font-small">{{row.role}}</span>
                </td>
                <td>
                    <span class="font-small">
                        <i class="pi pi-pencil" (click)="editRow(row)"></i>
                    </span>
                    &nbsp;&nbsp;
                    <span class="font-small">
                        <i class="pi pi-trash" (click)="confirm($event, row)"></i>
                    </span>
                </td>
            </ng-template>
        </ngx-table>
    </div>
</div>