<p-accordion>
    <p-accordionTab [header]="productObj[item.product]" *ngFor="let item of products;let i=index;">
        <div class="accordian-container">
            <div>
                <span>Allocated</span>
                <p class="count">{{item.count}}</p>
            </div>
            <div>
                <span>Supplied</span>
                <input style='width: 75%;margin: 0px 5px;' autocomplete="off" type="number" pInputText
                    [(ngModel)]="item.supplied">
            </div>
            <div>
                <span>Returns</span>
                <p class="count">{{item.supplied && (item.count-item.supplied) || 0}}</p>
            </div>
        </div>
        <br />
        <div class="col-md-4">
            <div class="row wrap">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding: 0;">
                    <div class="form-group">
                        <div class="custom-label"> Mode of Payment<span class='mandate'>*</span></div>
                        <p-dropdown class="custom-pdropdown" optionLabel="key" optionValue="value"
                            [(ngModel)]="item.paymentMode" (onChange)="onModechange(i, $event)"
                            [options]="payment_options" [placeholder]="'Select Payment'">
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div *ngIf="item.paymentMode === 'cash'">
            <table class="noteTable">
                <tr class="note-header">
                    <th>Notes</th>
                    <th>Count</th>
                    <th class="txt-right">Amount</th>
                </tr>
                <tr>
                    <td class="val">2000</td>
                    <td><input style='width: 80%;margin:5px;' autocomplete="off" type="number" pInputText
                            [(ngModel)]="item.payments.twoth"></td>
                    <td class="txt-right val">{{2000*(item.payments.twoth||0) | currency:'INR' }}</td>
                </tr>
                <tr>
                    <td class="val">500</td>
                    <td><input style='width: 80%;margin:5px;' autocomplete="off" type="number" pInputText
                            [(ngModel)]="item.payments.fivehrd"></td>
                    <td class="txt-right val">{{500*(item.payments.fivehrd||0) | currency:'INR'}}</td>

                </tr>
                <tr>
                    <td class="val">100</td>
                    <td><input style='width: 80%;margin:5px;' autocomplete="off" type="number" pInputText
                            [(ngModel)]="item.payments.hrd"></td>
                    <td class="txt-right val">{{100*(item.payments.hrd||0) | currency:'INR'}}</td>

                </tr>
                <tr>
                    <td class="val">50</td>
                    <td><input style='width: 80%;margin:5px;' autocomplete="off" type="number" pInputText
                            [(ngModel)]="item.payments.fifty"></td>
                    <td class="txt-right val">{{50*(item.payments.fifty||0) | currency:'INR'}}</td>

                </tr>
                <tr>
                    <td class="val">20</td>
                    <td><input style='width: 80%;margin:5px;' autocomplete="off" type="number" pInputText
                            [(ngModel)]="item.payments.twenty"></td>
                    <td class="txt-right val">{{20*(item.payments.twenty||0) | currency:'INR'}}</td>

                </tr>
                <tr>
                    <td class="val">10</td>
                    <td><input style='width: 80%;margin:5px;' autocomplete="off" type="number" pInputText
                            [(ngModel)]="item.payments.ten"></td>
                    <td class="txt-right val">{{10*(item.payments.ten||0) | currency:'INR'}}</td>
                </tr>
                <tr>
                    <td class="val">5</td>
                    <td><input style='width: 80%;margin: 5px;' autocomplete="off" type="number" pInputText
                            [(ngModel)]="item.payments.five"></td>
                    <td class="txt-right val">{{5*(item.payments.five||0) | currency:'INR'}}</td>
                </tr>
                <tr style="height: 45px;">
                    <td class="val"></td>
                    <td class="val total-count">Total </td>
                    <td class="txt-right val total-count">{{calculateTotal(item) | currency:'INR'}}</td>
                </tr>
                <tr style="height: 45px;">
                    <td class="val"></td>
                    <td class="val total-count">
                        <span class="expected-revenue">Expected Revenue</span>
                    </td>
                    <td class="txt-right val total-count">{{calculateExpectedTotal(item) | currency:'INR'}}</td>
                </tr>
            </table>
        </div>
        <div *ngIf="item.paymentMode && item.paymentMode !== 'cash'">
            <input style='width: 100%;' autocomplete="off" type="text" pInputText placeholder="Enter Txn Id"
                [(ngModel)]="item.payments.txn_id">
        </div>
    </p-accordionTab>
</p-accordion>

<div class="accordian-footer">
    <button pButton pRipple label="Back" (click)='onBack()' class="p-button-warning"></button>
    &nbsp; &nbsp;
    <button type="button" pButton pRipple type="button" (click)='onSubmit()' label="Submit"
        class="p-button-success"></button>
    &nbsp; &nbsp;
    <button pButton pRipple label="Reset" (click)='onReset()' class="p-button-warning"></button>
</div>