.values {
    font-weight: 600;
}

.red {
    color: red;
}

.green {
    color: green;
}

.table-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pendingStatus {
    color: #f2c027;
    font-weight: 800;
}

.approvedStatus {
    color: green;
    font-weight: 800;
}