<div class="page-content" style="padding-top: 15px;">
    <div class="row wrap" *ngIf='showParent && areas?.length' style="display:block">
        <div class="col-md-12" *ngFor="let area of areas">
            <div class="card" (click)="onAreaClick(area)">
                {{areaObj[area]}}
                <div style="display: flex;justify-content: center;min-width: 65vw;">
                    <p>
                        <b>AL :&nbsp;</b><span>{{banner_info[area]?.allocated}}</span>
                    </p>
                    <p>
                        <b>SD :&nbsp;</b><span>{{banner_info[area]?.supplied}}</span>
                    </p>
                    <p>
                        <b>RN :&nbsp;</b><span>{{banner_info[area]?.allocated-banner_info[area]?.supplied}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row wrap" *ngIf='!areas?.length'>
        <b style="text-align: center;color: #9f9999;">No Allocations</b>
</div>
    <div class="row wrap" *ngIf='!showParent'>
        <app-sales-products [productObj]='productObj' (back)="showParent=true"
            (confirm)="onConfirm()" style="overflow: auto;height: 59vh;"></app-sales-products>
    </div>
</div>