::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #ea5600;
    color: #ea5600;
}

.logout {
    background: #fff;
    position: relative;
    display: flex;
    align-self: center;
    position: relative;
    right: 10px;
    cursor: pointer;
}

.logout:hover {
    color: #ea5600;
}

::ng-deep .hamburger button {
    background-color: #fff;
    color: #db5a00;
    border: none;
    height: -webkit-fill-available;
}

::ng-deep .hamburger button:hover{
    background-color: none !important;
}

::ng-deep .hamburger .p-button:enabled:hover {
    background: none !important;
    color: #db5a00 !important;
}